<form #filterForm="ngForm">
  Filter by initial letter:
  <select name="letterPicker" [(ngModel)]="initialLetter">
    <option *ngFor="let letter of alphabet;" [ngValue]="letter">{{letter}}</option>
  </select>
  <br>
  Select page:
  <select name="rangePicker" [(ngModel)]="offset">
    <option *ngFor="let key of characters.total | indexCharacter" [ngValue]="key.off">{{key.range}}</option>
  </select>
</form>
<ul class="character"> 
  <li *ngFor="let character of characters.results">    
    <a href="{{'characterdetail?id=' + character.id }}"> {{character.name}} </a>
  </li>  
</ul>
