<form #filterForm="ngForm">
  <div class="box">
    <div class="box-body" style="text-align: center">
      First letter filter:
      <select name="letterPicker" [(ngModel)]="initialLetter">
        <option *ngFor="let letter of alphabet;" [ngValue]="letter">{{letter}}</option>
      </select>
    </div>
  </div>
  <div class="info-box bg-light-blue" style="width: 30%;min-width: 300px; margin: auto">
    <div>
      <h2 style="font-family: Bowlby One SC, cursive; text-align: center;">Comics</h2>
    </div>
    <div class="box-body" style="text-align: center;">
      <div class="info-box bg-light-blue">
        <ul class="list-group" style="list-style-type:none">
          <div *ngIf="loads;else other">
          </div>
          <ng-template #other>
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          </ng-template>
          <li class="list-group-item" style="padding: 3px 10px; width: 98%; margin: auto" *ngFor="let comic of comics.results">
            <a href="{{'comicdetail?id=' + comic.id }}"> {{comic.title}} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box-body">
      Page: {{page}}
      <div style="float: right;">
        Select page:
        <select name="rangePicker" [(ngModel)]="offset">
          <option *ngFor="let key of comics.total | indexComic" [ngValue]="key.off">{{key.range}}</option>
        </select>
      </div>
    </div>
  </div>
</form>