<form #filterForm="ngForm">
  First letter filter: 
  <select name="letterPicker" [(ngModel)]="initialLetter">
    <option *ngFor="let letter of alphabet;" [ngValue]="letter">{{letter}}</option>
  </select>
  <br>
  Select page:
  <select name="rangePicker" [(ngModel)]="offset">
    <option *ngFor="let key of events.total | indexEvent" [ngValue]="key.off">{{key.range}}</option>
  </select>
</form>
<ul class="events">
  <li *ngFor="let event of events.results">    
    <a href="{{'eventdetail?id=' + event.id }}"> {{event.title}} </a>
  </li>  
</ul>